USE [master]
GO
/****** Object:  Database [BazaZamowienia]    Script Date: 20.06.2020 14:49:16 ******/
CREATE DATABASE [BazaZamowienia]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BazaZamowienia', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BazaZamowienia.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BazaZamowienia_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BazaZamowienia_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BazaZamowienia].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BazaZamowienia]
GO
/****** Object:  Table [dbo].[Zamowienia]    Script Date: 20.06.2020 14:49:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zamowienia](
	[Nazwa_Pizzy] [varchar](30) NULL,
	[Cena] [int] NULL
) ON [PRIMARY]
GO
USE [master]
GO
